div {
    height: 500px;
    width: 500px;
    border-color: red;
    border-style: solid;
}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	padding:10px;
	color:#fff;
}

div.secondhint{
    height: 100px;
    width: 100px;
    border-color: green;
    border-style: solid;
}